* {
    margin: 0px;
    padding: 0px;
}

@media (min-width:320px) and (max-width:425px) {
    nav {
        background-color: #37515F;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:hover {
        border: none;
    }

    img {
        width: 3rem;
    }

    .hr-navbar {
        color: white;
    }

    a.nav-link {
        color: white;
    }

    span a.nav-link {
        padding-bottom: 1rem;
    }

    .jumbotron {
        padding: 1rem;
        background-color: #37515F;
    }

    .jumbotron h1 {
        font-weight: 400;
    }

    .imagen-jumbo img {
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        padding-bottom: 1rem;
        border-radius: 10px;
    }

    .publicidad-jumbo {
        font-size: 0.8rem;
    }

    .boton-sub a {
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        border-radius: 10px;
        background-color: #D96725;
        color: white;
    }

    section.blog {
        background-color: grey;
        padding-top: 1rem;
    }

    footer {
        background-color: black;
        color: white;
    }

    .blog h2 {
        text-align: center;
        font-weight: 700;
    }

    .carousel {
        margin: 0px;
        padding: 1rem;
    }

    .carousel-item img {
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }

    .adicionales h2 {
        text-align: center;
        padding: 1rem;
    }

    .card {
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        border-radius: 10px;
    }

    .card a.btn {
        background-color: #D96725;
        border-color: #D96725;

    }

    ul {
        margin: 0px;
        padding: 0px;
    }

    .footer-section {
        background: #151414;
        position: relative;
    }

    .footer-content {
        position: relative;
        z-index: 2;
    }

    .footer-text p {
        margin-bottom: 14px;
        font-size: 14px;
        color: #7e7e7e;
        line-height: 28px;
    }

    .footer-social-icon span {
        color: #fff;
        display: block;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    .footer-social-icon a {
        color: #fff;
        font-size: 16px;
        margin-right: 15px;
    }

    .footer-social-icon i {
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 38px;
        border-radius: 50%;
    }

    .footer-widget-heading h3 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 40px;
        position: relative;
    }

    .footer-widget-heading h3::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 2px;
        width: 50px;
        background: #ff5e14;
    }

    .footer-widget ul li {
        display: inline-block;
        float: left;
        width: 50%;
        margin-bottom: 12px;
    }

    .footer-widget ul li a:hover {
        color: #ff5e14;
    }

    .footer-widget ul li a {
        color: #878787;
        text-transform: capitalize;
    }

    .copyright-area {
        background: #202020;
        padding: 25px 0;
    }

    .copyright-text p {
        margin: 0;
        font-size: 14px;
        color: #878787;
    }

    .copyright-text p a {
        color: #ff5e14;
    }

}