*{
    margin: 0px;
    padding: 0px;
}
@media (min-width:320px) and (max-width:425px) {
    nav {
        background-color: #37515F;
    }

    .navbar-toggler{
        border: none;
    }

    .navbar-toggler:hover{
        border: none;
    }

    img {
        width: 3rem;
    }

    .hr-navbar {
        color: white;
    }

    a.nav-link {
        color: white;
    }

    span a.nav-link {
        padding-bottom: 1rem;
    }

    .jumbotron {
        padding: 1rem;
        background-color: #37515F;
    }
    .jumbotron h1 {
        font-weight:400;
    }
    .imagen-jumbo img {
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        padding-bottom: 1rem ;
        border-radius: 10px;
    }
    .publicidad-jumbo{
        font-size: 0.8rem ;
    }
    .boton-sub a{
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        border-radius: 10px;
        background-color: #D96725;
        color: white;
    }

    section.blog {
        background-color: grey;
        padding-top: 1rem;
    }

    footer {
        background-color: black;
        color: white;
    }

    .blog h2{
        text-align: center;
        font-weight: 700;
    }

    .carousel{
        margin: 0px;
        padding: 1rem;
    }

    .carousel-item img {
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }

    .adicionales h2{
        text-align: center;
        padding: 1rem;
    }

    .card {
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        border-radius: 10px;
    }

    .card a.btn {
        background-color: #D96725;
        border-color:#D96725 ;

    }

}
